page-areas {

}

.titulo{
	text-align: center;
	font-weight:bold !important;
	font-size: 1.0em !important;
	color:  #CD5C5C !important;
}

.description{
	font-size: 0.8em !important;
	color: #aa3e03 !important;
}

.post-actions {
    color: #7C7C7C;
    font-size: 1.4em;
  }

.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left] {
    margin: 8px 8px 8px 0;
  }
